<div class="container vh-100">

  <section id="aid">
    <h2>My first-aid guide</h2>
    <%# search_bar %>
    <%= form_with url: aids_path, method: :get, class: "d-flex search_bar" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search_icon",
          placeholder: "   Search"
        %>
        <button name="button" type="submit" class="btn btn-flat inner_icon">
          <i class="fas fa-search "></i>
        </button>
    <% end %>

  <%# OT_front %>
    <section class="cat__cards">
      <% @aids.each do |aid| %>
        <%= link_to aid_path(aid) do %>
          <div class="cat__card">
            <%= aid.name %>
            <%= cl_image_tag aid.photo.key, class:"aid-category-image", :crop => "fit" %>
          </div>
        <% end %>
      <% end %>
    </section>


  </section>
</div>
