
<%# search_bar %>
<%= form_with url: aids_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find the first aid guide you need..."
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<h1><b>My first-aid guide</b></h1>

<div class= "first-aid">
  <% @aids.each do |aid| %>
    <div class="product d-flex mb-3">
       <div class = "text">
         <h4><b><%= aid.name%></b></h4>
         <%= aid.description %>
         <br><%= link_to "show more",  aid_path(aid) %></b>
       </div>
      <div>
    </div>
        <%= cl_image_tag aid.photo.key, class: "aid-image", :crop => "fit"%>
      </div>
 <% end %>
</div>
