<h1>My first-aid guide</h1>

<%# search_bar %>
<%= form_with url: aids_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find the first aid guide you need..."
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class= "first-aid">
  <% @aids.each do |aid| %>

    <div class="d-flex">
      <div class = "text">
        <h2><%= aid.name%></h2>
        <%= aid.description %>
        <%= link_to "show more",  aid_path(aid) %>
      </div>
      <div>
        <%= cl_image_tag aid.photo.key, height: 200, width: 200, :crop => "fit"%>
      </div>
    </div>

  <% end %>
</div>
