<h1>My first-aid guide</h1>

<%# search_bar %>
<%= form_with url: aids_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find the first aid guide you need..."
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<%# OT_front %>
<section id="aid">
  <div class="container cat__cards">
    <% @aids.each do |aid| %>
      <%= link_to aid_path(aid) do %>
        <div class="cat__card">
          <%= aid.name %>
          <%= cl_image_tag aid.photo.key, class:"aid-category-image", :crop => "fit" %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
