<h2>Edit</h2>

    <div class="book bg-white shadow" >
      <%= simple_form_for ([@emergency]) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
      <%= f.submit class: 'btn', style: 'background-color:#28CCED;color:white' %>
      <% end %>
    </div>
</div>
<%= link_to "delete", emergency_path(emergency), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this booking"}, class: 'links' %>
