
<%# search_bar %>
<%= form_with url: emergencies_path, method: :get, class: "d-flex search_bar" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control search_icon",
    placeholder: "   Search"
  %>
  <button name="button" type="submit" class="btn btn-flat inner_icon">
    <i class="fas fa-search "></i>
  </button>
<% end %>

<div class="container py-4 mb-3 vh-100">

  <h2 class="mb-3">My Emergency numbers</h2>

  <div class="row my-2">

    <div class="col-md-4 mb-3"  data-aos="zoom-in">
      <div class="bg-white rounded shadow h-300 p-3">
        <h3>Police Direct Line</h3>
        <p>999</p>
        <%= phone_to "999", "Call", class: "btn-default" %>
      </div>
    </div>

    <div class="col-md-4 mb-3"  data-aos="zoom-in">
      <div class="bg-white rounded shadow h-300 p-3">
        <h3>Samu (Ambulance)</h3>
        <p>114</p>
        <%= phone_to "114", "Call", class: "btn-default" %>
      </div>
    </div>

    <div class="col-md-4 mb-3"  data-aos="zoom-in">
      <div class="bg-white rounded shadow h-300 p-3">
        <h3>Fire Services</h3>
        <p>115</p>
        <%= phone_to "115", "Call", class: "btn-default" %>
      </div>
    </div>

      <div class="col-md-4 mb-3"  data-aos="zoom-in">
      <div class="bg-white rounded shadow h-300 p-3">
        <h3>Police Information Room</h3>
        <p>208 0034</p>
        <%= phone_to "208 0034", "Call", class: "btn-default" %>
      </div>
    </div>

    <div class="col-md-4 mb-3"  data-aos="zoom-in">
      <div class="bg-white rounded shadow h-300 p-3">
        <h3>Police Family Protection Unit</h3>
        <p>210 2116</p>
        <%= phone_to "210 2116", "Call", class: "btn-default" %>
      </div>
    </div>

    <% @emergencies.each do |emergency| %>
      <div class="col-md-4 mb-3" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-300 p-3">
          <h3><%= emergency.name %></h3>
          <p><%= emergency.description %></p>
          <p><%= emergency.phone_number %></p>
          <%= phone_to emergency.phone_number, "call", class: "btn-default" %>
          <%= sms_to emergency.phone_number, "Alert", class: "btn-default", body: "I need help" %>
          <%= link_to "Edit",  edit_emergency_path(emergency), class: "btn-default"%>
          <%= link_to "delete", emergency_path(emergency), data: { turbo_method: :delete , turbo_confirm: "Are you sure you want to remove this number"}, class: "btn-default" %>
        </div>
      </div>
    <% end %>

    <%# <%= link_to "create", new_emergency_path, class: "btn-default" %>
    <%= link_to new_emergency_path do %>
      <i class="fa-solid fa-circle-plus"></i>
    <% end %>
  </div>

</div>
