
<%# search_bar %>
<%= form_with url: emergencies_path, method: :get, class: "d-flex search_bar" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control search_icon",
    placeholder: "   Search"
  %>
  <button name="button" type="submit" class="btn btn-flat inner_icon">
    <i class="fas fa-search "></i>
  </button>
<% end %>

<%# OT_front %>
<section id="default__emergency">
  <div class="container cat__cards">
    <% @emergencies.each do |emergency| %>
        <div class="<%= emergency.user == current_user ? "test" : "cat__card" %>  ">
          <h3><%= emergency.name %></h3>
          <p><%= emergency.phone_number %></p>
          <% if emergency.user == current_user %>
            <%= sms_to emergency.phone_number, "Alert", class: "btn-default", body: "I need help" %>
            <%= link_to "Edit",  edit_emergency_path(emergency), class: "btn-default"%>
            <%= link_to "delete", emergency_path(emergency), data: { turbo_method: :delete , turbo_confirm: "Are you sure you want to remove this number"}, class: "btn-default" %>
          <% end %>
        </div>
    <% end %>
  </div>
</section>

    <div><h2>My list</h2>

      <%= link_to new_emergency_path do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    </div>

</div>
