
<%# search_bar %>
<%= form_with url: emergencies_path, method: :get, class: "d-flex search_bar" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control search_icon",
    placeholder: "   Search"
  %>
  <button name="button" type="submit" class="btn btn-flat inner_icon">
    <i class="fas fa-search "></i>
  </button>
<% end %>

<div class="container py-4 vh-100">
  <h2 class="mb-3">My Emergency numbers</h2>

  <div class="row my-2">

  </div>

    <% @emergencies.each do |emergency| %>
    <div class="col-md-4 mb-3" data-aos="zoom-in">
      <div class="bg-white rounded shadow h-300 p-3">
        <h3><%= emergency.name %></h3>
        <p><%= emergency.description %></p>
        <%= link_to "Call",  "#", class: "btn-default"%>
        <% if emergency.user == current_user %>

          <%= link_to "Edit",  edit_emergency_path(emergency), class: "btn-default"%>
          <%= link_to "delete", emergency_path(emergency), data: { turbo_method: :delete , turbo_confirm: "Are you sure you want to remove this number"}, class: "btn-default" %>
        <% end %>
      </div>
    </div>
    <% end %>
  <%= link_to "create", new_emergency_path, class: "btn-default" %>
  </div>
</div>
