<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h2>Sauce</h2>
    <% end %>

    <% if user_signed_in? %>
      <button class="navbar-toggler-self" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <%= image_tag "profile.jpg", class: "avatar dropdown-toggle" %>
      </button>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%# <li class="nav-item"> %>
            <%# <%= link_to "Action", "#", class: "nav-link" %>
          <%# </li> %>
          <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
