<div class="container vh-100">

  <section>
    <%= image_tag "Final_img.svg", class:"ImgSauce" %>
    <%# <%= image_tag "es2.png", class:"ImgSauce" %>
  </section>

  <section id="about">
    <h2>Your Life saver, in your pocket!</h2>
  </section>

  <section id="categories">
    <div class="container cat__cards">

      <%= link_to emergencies_path do %>
        <div class="cat__card">
          <i class="fa-solid fa-phone" id= "icon"></i>
          <h3>Emergencies</h3>
        </div>
      <% end %>

      <%= link_to aids_path do %>
        <div class="cat__card">
          <i class="fa-solid fa-kit-medical" id= "icon"></i>
          <h3>First-aid</h3>
        </div>
      <% end %>

      <%= link_to locations_index_path do %>
        <div class="cat__card">
          <i class="fa-solid fa-location-dot" id= "icon"></i>
          <h3>Location</h3>
        </div>
      <% end %>

      <%= link_to quizzs_path do %>
        <div class="cat__card">
          <i class="fa-solid fa-lightbulb" id= "icon"></i>
          <h3>Quizz</h3>
        </div>
      <% end %>

    </div>
  </section>


</div>
