<section class="container vh-100" data-controller="quiz">
  <section id="question">
    <h2><%= @quizz.name %></h2>
    <% @quizz.questions.each_with_index do |question, index| %>
      <div class="my-question" data-quiz-target='correct' data-answer="<%= question.answer %>">
        <h3><%= question.name %></h3>
        <button class="btn" data-action="click->quiz#check<%= index %>" >
          <%= question.option1 %>
        </button>
        <button class="btn" data-action="click->quiz#check<%= index %>">
          <%= question.option2 %>
        </button>
        <button class="btn" data-action="click->quiz#check<%= index %>">
          <%= question.option3 %>
        </button>
      </div>
    <% end %>
  </section>
  <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#exampleModal" data-quiz-target="trigger">
    Launch demo modal
  </button>
</section>
​
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">CONGRATS 🥳</h1>
        <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> %>
      </div>
    </div>
  </div>
</div>
